In [1]:
l1 = ['1', '123', '123', '12', '1', '123']
l2 = [2, 4, -2, -3, 0 , 11 , 3 -1]

d4 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
d5 = {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
d6 = {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.13) Используя список l1 создать список, в котором каждый элемент списка l1 будет заменен значением длинны строки соответствующего элемента в списке l1. Использовать генераторы, решить задачу в одну строку.

In [2]:
l1_len = [len(i) for i in l1]
l1_len

[1, 3, 3, 2, 1, 3]

4.14) Подсчитать количество строк в списке l1, длина которых больше 2х. Использовать генераторы, решить задачу в одну строку.

In [7]:
count_len1 = sum(1 for i in l1 if len(i) > 2)
count_len1

3

4.15) Просуммировать произведение ключей на значения словаря d4.

In [34]:
d4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [11]:
sum_d4 = sum(key * value for key, value in d4.items())
sum_d4

910

4.16) На базе словаря d6 составить словарь d7 в котором нет пар ключ-значение с ключами, встречающимися в словаре d5. Использовать генераторы, решить задачу в одну строку.

In [23]:
d6

{'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

In [24]:
d5

{'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}

In [21]:
d7 = dict((key, value) for key, value in d6.items() if key not in d5)
d7

{'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.17) Создать список, в котором все числа списка l2 умножены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [27]:
l2

[2, 4, -2, -3, 0, 11, 2]

In [33]:
l2_mult = [i * j for i, j in zip(l2, range(len(l2))) if type(l2[j]) == int]
l2_mult

[0, 4, -4, -9, 0, 55, 12]

4.18) Создать список, в котором все отрицательные числа списка l2 исключены, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [35]:
l2

[2, 4, -2, -3, 0, 11, 2]

In [37]:
l2_pos = [i for i in l2 if i >= 0]
l2_pos

[2, 4, 0, 11, 2]

4.19) Создать список, в котором все отрицательные числа списка l2 заменены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы и тернарный оператор, решить задачу в одну строку.

In [38]:
l2

[2, 4, -2, -3, 0, 11, 2]

In [39]:
l2_repl = [i if i >= 0 else j for i, j in zip(l2, range(len(l2)))]
l2_repl

[2, 4, 2, 3, 0, 11, 2]

5.1) Написать задокументированную функцию умножения двух чисел. Для каких типов данная функция будет возвращать практически ценный результат? Написать примеры использования этой функции.

In [52]:
def multiply(x, y):
    """
    Возвращает произведение двух чисел.

    Параметры:
    x (int, float): Первое число.
    y (int, float): Второе число.

    Возвращаемое значение:
    int, float: Результат умножения x на y.
    """
    return x * y

In [43]:
help(multiply)

Help on function multiply in module __main__:

multiply(x, y)
    Возвращает произведение двух чисел.

    Параметры:
    x (int, float): Первое число.
    y (int, float): Второе число.

    Возвращаемое значение:
    int, float: Результат умножения x на y.

In [44]:
multiply(7.8, 2)

15.6

In [45]:
multiply(12, 986)

11832

5.2) Написать функцию умножения принимающую от одного до трех параметров. Написать примеры использования этой функции с разным количеством параметров.

In [59]:
def multiply_2(x, y=1, z=1):
    return x * y * z

In [60]:
multiply_2(23)

23

In [61]:
multiply_2(3.4, 7.8)

26.52

In [62]:
multiply_2(2, 6.89, 91)

1253.98

5.3) Функцию из задания 2 вызвать с приведенными ниже аргументами. Для случая a4 выбрать 3 первых и 3 последних значения.

a1 = (15, 10 ,5)

a2 = (3, 1)

a3 = [2, 35, 55]

a4 = (5, 10 ,15, 20)

In [63]:
a1 = (15, 10 ,5)

a2 = (3, 1)

a3 = [2, 35, 55]

a4 = (5, 10 ,15, 20)

In [64]:
multiply_2(*a1)

750

In [65]:
multiply_2(*a2)

3

In [66]:
multiply_2(*a3)

3850

In [68]:
multiply_2(*a4[:3])

750

In [69]:
multiply_2(*a4[-3:])

3000

5.4) Реализовать функцию умножения, принимающую неограниченное количество значений. Написать примеры использования этой функции, в том числе с аргументами из задания 3.

In [75]:
def multiply_3(*args):
    res = 1
    for i in args:
        res *= i
    return res

In [76]:
multiply_3(*a1)

750

In [77]:
multiply_3(*a2)

3

In [78]:
multiply_3(*a3)

3850

In [79]:
multiply_3(*a4)

15000

In [80]:
multiply_3(24, 4.25, 12, 3, 10.5)

38556.0

5.5) Реализовать функции для выполнения четырех арифмитических операций преобразующих целые числа в целое число. Для двух заранее заданных целых чисел выполнить выбранную пользователем арифметическую операцию

In [1]:
def add(x, y):
    return x + y

def substract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x // y

In [2]:
x = 23
y = 10

op = input('Введите операцию (+, -, *, /): ')
if op == '+':
    print(add(x, y))
elif op == '-':
    print(substract(x, y))
elif op == '*':
    print(multiply(x, y))
elif op == '/':
    print(divide(x, y))
else:
    raise ValueError('Неправильно введенная операция')

Введите операцию (+, -, *, /): *
230

5.6) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - целое число, например 113, <арифмитическая операция> - одна из операций +,-,*,/(деление нацело),%(остаток от деления),^(возведение в степень). Пример calc('13 - 5') -> 8

In [73]:
def calc(s):
    s1 = s.split()
    if s1[1] == '/':
        return int(s1[0]) // int(s1[2])
    elif s1[1] == '^':
        return int(s1[0]) ** int(s1[2])
    else:
        # функция eval () анализирует строку, 
        # компилирует в байт-код и выполняет как выражение Python.
        return eval(s)

In [19]:
calc('45 + 10')

55

In [18]:
calc('13 - 5')

8

In [20]:
calc('14 * 3')

42

In [17]:
calc('23 / 5')

4

In [21]:
calc('24 % 7')

3

In [22]:
calc('3 ^ 5')

243

5.7) Реализовать функцию которая выводит на экран сообщение вида:
'Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215 000 км, c номерным знаком: X012АМ77, цена: 1 115 000 руб.'
В функцию передаются именованные параметры изменяемой части сообщения, лубой из параметров может быть не задан пользователем функции и автоматически заменен на разумное сообщение в соответствующей части строки. Получить вывод текстового сообщения для словарей c1, c2.

In [30]:
def car(**kwargs):
    default = {'марка': 'неизвестно', 'модель': 'неизвестно', 
               'цвет': 'неизвестно', 'год выпуска': 'неизвестно', 
               'пробег': 'неизвестно', 'номерной знак': 'неизвестно',
               'цена': 'неизвестно'}
    info = {**default, **kwargs}
    
    print(f"Автомобиль марки: {info['марка']}, модели: {info['модель']}, цвета: {info['цвет']},", 
          f"{info['год выпуска']} года выпуска, с пробегом: {info['пробег']} км,",
          f"с номерным знаком: {info['номерной знак']}, цена: {info['цена']} руб.")

In [31]:
c1 = {'марка': 'Nissan', 'цвет': 'белый', 'год выпуска': '2010', 
      'номерной знак': 'X000YZ'}
car(**c1)

Автомобиль марки: Nissan, модели: неизвестно, цвета: белый, 2010 года выпуска, с пробегом: неизвестно км, с номерным знаком: X000YZ, цена: неизвестно руб.

5.8) Написать функцию, которая преобразует целое число (от 0 до 99) в текстовое написание числа на русском языке. Пример: to_text(15) -> 'Пятнадцать'

In [74]:
def to_text(n):
    numb = {0: 'ноль', 1: 'один', 2: 'два', 3: 'три', 4: 'четыре', 5: 'пять',
    6: 'шесть', 7: 'семь', 8: 'восемь', 9: 'девять', 10: 'десять', 11: 'одиннадцать',
    12: 'двенадцать', 13: 'тринадцать', 14: 'четырнадцать', 15: 'пятнадцать', 
    16: 'шестнадцать', 17: 'семнадцать', 18: 'восемнадцать', 19: 'девятнадцать'}
    
    des = {10: 'десять', 20: 'двадцать', 30: 'тридцать', 40: 'сорок', 50: 'пятьдесят',
    60: 'шестьдесят', 70: 'семьдесят', 80: 'восемьдесят', 90: 'девяносто'}
    
    try:
        if n in numb:
            return numb[n]
        elif n in des:
            return des[n]
        else:
            numb_part = n % 10
            des_part = n - numb_part
            return des[des_part] + ' ' + numb[numb_part]
    
    except KeyError:
        print('Число вне диапазона от 0 до 99')

In [40]:
to_text(8)

'восемь'

In [41]:
to_text(27)

'двадцать семь'

In [42]:
to_text(70)

'семьдесят'

In [43]:
to_text(105)

Число вне диапазона от 0 до 99

In [47]:
from num2words import num2words

def to_text2(n):
    if 0 <= n <= 99:
        return num2words(n, lang = 'ru')
    else:
        return 'Число вне диапазона от 0 до 99'

In [48]:
to_text2(8)

'восемь'

In [49]:
to_text2(27)

'двадцать семь'

In [50]:
to_text2(70)

'семьдесят'

In [51]:
to_text2(105)

'Число вне диапазона от 0 до 99'

5.9) Написать функцию, которая преобразует целое число (от 0 до 999) из текстового представления на руссокм языке в число типа int. Пример: to_int('тридцать три') -> 33

In [75]:
def to_int(s):
    numb = {'ноль': 0, 'один': 1, 'два': 2, 'три': 3, 'четыре': 4,
            'пять': 5,'шесть': 6, 'семь': 7, 'восемь': 8, 'девять': 9,
            'одиннадцать': 11, 'двенадцать': 12, 'тринадцать': 13, 
            'четырнадцать': 14, 'пятнадцать': 15, 'шестнадцать': 16, 
            'семнадцать': 17,'восемнадцать': 18, 'девятнадцать': 19}
    
    des = {'десять': 10, 'двадцать': 20, 'тридцать': 30,
           'сорок': 40,'пятьдесят': 50, 'шестьдесят': 60,
           'семьдесят': 70, 'восемьдесят': 80, 'девяносто': 90}
    
    hund = {'сто': 100, 'двести': 200, 'триста': 300, 'четыреста': 400,
    'пятьсот': 500, 'шестьсот': 600, 'семьсот': 700, 'восемьсот': 800,
    'девятьсот': 900}
    
    s = s.split()
    try:
        if len(s) == 1:
            if s[0] in numb: # число вида 6
                return numb[s[0]]
            elif s[0] in des: # число вида 30
                return des[s[0]]
            else: # число вида 200
                return hund[s[0]]
        elif len(s) == 2:
            if s[0] in des: # число вида 24
                return des[s[0]] + numb[s[1]]
            elif s[1] in des: # число вида 150
                return hund[s[0]] + des[s[1]]
            else: # число вида 113 или 107
                return hund[s[0]] + numb[s[1]]
        else: # число вида 746
            return hund[s[0]] + des[s[1]] + numb[s[2]] 
    
    except KeyError:
        print('Неверное число')

In [57]:
to_int('девятнадцать')

19

In [58]:
to_int('сорок три')

43

In [59]:
to_int('двести')

200

In [60]:
to_int('пятьсот пять')

505

In [61]:
to_int('восемьсот шестьдесят семь')

867

6.1) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - не отрицательное целое число меньшее 100, записанное словами, например "тридцать четыре", <арифмитическая операция> - одна из операций "плюс","минус","умножить". Результат выполнения операции вернуть в виде текстового представления числа. Пример calc('двадцать пять плюс тринадцать') -> "тридцать восемь"

In [96]:
from num2words import num2words

def calc_2(s):
    ops = {'плюс' : '+','минус': '-','умножить': '*'}
    
    s = s.split()
    res = ''
    number = ''
    for i in s:
        if i in ops: # если это операция
            res += str(to_int(number)) # добавляем полученное число к строке с результатом
            number = ''
            res += ops[i] # добавляем операцию
        elif i == 'на':
            pass
        else:
            number += i + ' ' # собираем число (до операции и после)
    
    res += str(to_int(number)) # добавляем число после плюса
    res = eval(res)
    return num2words(res, lang = 'ru') # переводим результат в текст

In [97]:
calc_2('двадцать пять плюс тринадцать')

'тридцать восемь'

In [98]:
calc_2('тридцать три умножить на одиннадцать')

'триста шестьдесят три'